USE [AI_Incident_Management]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_SeedRoles]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_SeedRoles]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_GetUserById]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_GetAllUsers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_DeleteUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_CreateUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_AuthenticateUser]
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignRoleToUser]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP PROCEDURE [dbo].[sp_AssignRoleToUser]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK__UserRoles__UserI__4BAC3F29]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [FK__UserRoles__RoleI__4CA06362]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_IsDeleted]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__3A81B327]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__398D8EEE]
GO
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [DF__UserRoles__Assig__4AB81AF0]
GO
/****** Object:  Index [UQ__Users__C9F28456CA3BD02D]    Script Date: 8/5/2025 3:51:50 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__C9F28456CA3BD02D]
GO
/****** Object:  Index [UQ__Users__A9D105346866F2A3]    Script Date: 8/5/2025 3:51:50 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D105346866F2A3]
GO
/****** Object:  Index [UQ__Users__85FB4E3829755ED6]    Script Date: 8/5/2025 3:51:50 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__85FB4E3829755ED6]
GO
/****** Object:  Index [UQ_UserRole]    Script Date: 8/5/2025 3:51:50 PM ******/
ALTER TABLE [dbo].[UserRoles] DROP CONSTRAINT [UQ_UserRole]
GO
/****** Object:  Index [UQ__Roles__8A2B6160A781689A]    Script Date: 8/5/2025 3:51:50 PM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ__Roles__8A2B6160A781689A]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/5/2025 3:51:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/5/2025 3:51:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/5/2025 3:51:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
USE [master]
GO
/****** Object:  Database [AI_Incident_Management]    Script Date: 8/5/2025 3:51:50 PM ******/
DROP DATABASE [AI_Incident_Management]
GO
/****** Object:  Database [AI_Incident_Management]    Script Date: 8/5/2025 3:51:50 PM ******/
CREATE DATABASE [AI_Incident_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AI_Incident_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AI_Incident_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AI_Incident_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AI_Incident_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AI_Incident_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AI_Incident_Management]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/5/2025 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/5/2025 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/5/2025 3:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Full access to the system')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'Analyst', N'Can view and analyze data')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'Officer', N'Can manage daily operations')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedDate]) VALUES (1, 1, 1, CAST(N'2025-08-03T20:50:33.100' AS DateTime))
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedDate]) VALUES (6, 1, 2, CAST(N'2025-08-03T21:00:24.400' AS DateTime))
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedDate]) VALUES (7, 1, 3, CAST(N'2025-08-03T21:00:24.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Email], [PasswordHash], [IsActive], [CreatedAt], [PhoneNumber], [IsDeleted]) VALUES (1, N'Try Update', N'try@update.com', N'5994471ABB01112AFCC18159F6CC74B4F511B99806DA59B3CAF5A9C173CACFC5', 1, CAST(N'2025-08-02T21:11:59.497' AS DateTime), N'0300000001', 0)
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [PasswordHash], [IsActive], [CreatedAt], [PhoneNumber], [IsDeleted]) VALUES (2, N'testt1', N'test11@gmail.com', N'5994471ABB01112AFCC18159F6CC74B4F511B99806DA59B3CAF5A9C173CACFC5', 1, CAST(N'2025-08-02T18:46:09.697' AS DateTime), N'012398777', 0)
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [PasswordHash], [IsActive], [CreatedAt], [PhoneNumber], [IsDeleted]) VALUES (3, N'john_doe', N'john.doe@example.com', N'61CE46C310554EE912B5AA06DA9A0CEA8E08CDD4DB96006E0CDCAB258618BF42', 1, CAST(N'2025-08-02T19:57:08.997' AS DateTime), N'1234567890', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160A781689A]    Script Date: 8/5/2025 3:51:51 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRole]    Script Date: 8/5/2025 3:51:51 PM ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRole] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__85FB4E3829755ED6]    Script Date: 8/5/2025 3:51:51 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105346866F2A3]    Script Date: 8/5/2025 3:51:51 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456CA3BD02D]    Script Date: 8/5/2025 3:51:51 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignRoleToUser]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AssignRoleToUser]
    @UserId INT,
    @RoleId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Check if User exists, is active and not deleted
    IF NOT EXISTS (
        SELECT 1 FROM Users
        WHERE UserId = @UserId AND IsActive = 1 AND IsDeleted = 0
    )
    BEGIN
        RAISERROR('User not found or is inactive/deleted.', 16, 1);
        RETURN;
    END

    -- 2. Check if Role exists
    IF NOT EXISTS (
        SELECT 1 FROM Roles
        WHERE RoleId = @RoleId
    )
    BEGIN
        RAISERROR('Role not found.', 16, 1);
        RETURN;
    END

    -- 3. Check if Role already assigned to user
    IF EXISTS (
        SELECT 1 FROM UserRoles
        WHERE UserId = @UserId AND RoleId = @RoleId
    )
    BEGIN
        RAISERROR('Role already assigned to this user.', 16, 1);
        RETURN;
    END

    -- 4. Assign Role
    INSERT INTO UserRoles (UserId, RoleId)
    VALUES (@UserId, @RoleId);

    PRINT 'Role assigned successfully.';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AuthenticateUser]
    @UsernameOrEmail NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Input validation
        IF @UsernameOrEmail IS NULL OR @Password IS NULL
        BEGIN
            RAISERROR('Username/email and password cannot be NULL', 16, 1);
            RETURN;
        END
        
        -- Clean inputs (trim whitespace, normalize case)
        DECLARE @CleanUsernameOrEmail NVARCHAR(100) = LTRIM(RTRIM(@UsernameOrEmail));
        DECLARE @CleanPassword NVARCHAR(100) = LTRIM(RTRIM(@Password));
        
        -- Calculate password hash - CAST TO VARCHAR to match original storage
        DECLARE @PasswordHash NVARCHAR(100);
        SET @PasswordHash = CONVERT(NVARCHAR(100), HASHBYTES('SHA2_256', CAST(@CleanPassword AS VARCHAR(100))), 2);
        
        -- Debug output (can be removed in production)
        PRINT 'Attempting authentication for: ' + @CleanUsernameOrEmail;
        PRINT 'Computed password hash: ' + @PasswordHash;
        
        -- Authentication query
        SELECT 
            UserId, 
            UserName, 
            Email, 
            PhoneNumber
        FROM Users
        WHERE 
            (
                UserName COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI OR 
                Email COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI
            )
            AND PasswordHash = @PasswordHash
            AND IsActive = 1
            AND IsDeleted = 0;
            
        -- If no results, provide diagnostic information
        IF @@ROWCOUNT = 0
        BEGIN
            PRINT 'Authentication failed. Diagnostic information:';
            
            -- Check if username/email exists
            DECLARE @UserExists BIT = 0;
            SELECT @UserExists = 1 
            FROM Users 
            WHERE UserName COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI 
               OR Email COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI;
            
            IF @UserExists = 0
            BEGIN
                PRINT 'Username/email not found in system';
            END
            ELSE
            BEGIN
                -- Get stored hash for comparison
                DECLARE @StoredHash NVARCHAR(100);
                SELECT @StoredHash = PasswordHash 
                FROM Users 
                WHERE (UserName COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI 
                    OR Email COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI);
                
                PRINT 'Stored password hash: ' + ISNULL(@StoredHash, 'NULL');
                PRINT 'Computed password hash: ' + @PasswordHash;
                
                -- Check account status
                DECLARE @IsActive BIT, @IsDeleted BIT;
                SELECT @IsActive = IsActive, @IsDeleted = IsDeleted
                FROM Users
                WHERE (UserName COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI 
                    OR Email COLLATE SQL_Latin1_General_CP1_CI_AI = @CleanUsernameOrEmail COLLATE SQL_Latin1_General_CP1_CI_AI);
                
                PRINT 'Account status - Active: ' + CASE WHEN @IsActive = 1 THEN 'Yes' ELSE 'No' END;
                PRINT 'Account status - Deleted: ' + CASE WHEN @IsDeleted = 1 THEN 'Yes' ELSE 'No' END;
            END
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        -- Log the error
        PRINT 'Authentication error: ' + @ErrorMessage;
        
        -- Re-throw the error to the client
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateUser]
    @UserName NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(255),
    @PhoneNumber NVARCHAR(20),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Conflicts TABLE (ConflictName NVARCHAR(50));
    DECLARE @ResultMessage NVARCHAR(MAX);
    
    -- Check for conflicts
    IF EXISTS (SELECT 1 FROM Users WHERE UserName = @UserName)
        INSERT INTO @Conflicts VALUES ('Username');
    IF EXISTS (SELECT 1 FROM Users WHERE PhoneNumber = @PhoneNumber)
        INSERT INTO @Conflicts VALUES ('Phone number');
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
        INSERT INTO @Conflicts VALUES ('Email');
    
    -- Build conflict message
    IF EXISTS (SELECT 1 FROM @Conflicts)
    BEGIN
        DECLARE @ConflictCount INT = (SELECT COUNT(*) FROM @Conflicts);
        
        IF @ConflictCount = 1
            SET @ResultMessage = (SELECT TOP 1 ConflictName FROM @Conflicts);
        ELSE IF @ConflictCount = 2
            SET @ResultMessage = (SELECT STRING_AGG(ConflictName, ' and ') FROM @Conflicts);
        ELSE -- 3 conflicts
        BEGIN
            -- For SQL Server versions that support STRING_AGG with a delimiter
            SET @ResultMessage = (
                SELECT STRING_AGG(ConflictName, ', ') WITHIN GROUP (ORDER BY ConflictName)
                FROM @Conflicts
            );
            -- Replace last comma with ' and'
            DECLARE @LastCommaIndex INT = CHARINDEX(',', REVERSE(@ResultMessage));
            SET @ResultMessage = STUFF(@ResultMessage, LEN(@ResultMessage) - @LastCommaIndex + 1, 1, ' and');
        END
        
        SET @ResultMessage = @ResultMessage + ' already exist.';
    END
    ELSE
    BEGIN
        INSERT INTO Users (UserName, PasswordHash, Email, PhoneNumber, IsActive, CreatedAt)
        VALUES (@UserName, @PasswordHash, @Email, @PhoneNumber, @IsActive, GETDATE());
        SET @ResultMessage = 'User created successfully.';
    END
    
    SELECT @ResultMessage AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId AND IsDeleted = 0)
    BEGIN
        SELECT 'User not found or already deleted.' AS Result;
        RETURN;
    END

    UPDATE Users
    SET IsDeleted = 1
    WHERE UserId = @UserId;

    SELECT 'User deleted successfully (soft delete).' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllUsers]
    @SearchTerm NVARCHAR(100) = NULL, -- optional search
    @IsActive BIT = NULL,             -- optional filter
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT 
        UserId,
        UserName,
        Email,
        PhoneNumber,
        IsActive,
        CreatedAt,
		IsDeleted
    FROM Users
    WHERE 
        IsDeleted = 0 AND
        (@SearchTerm IS NULL OR 
         UserName LIKE '%' + @SearchTerm + '%' OR 
         Email LIKE '%' + @SearchTerm + '%' OR 
         PhoneNumber LIKE '%' + @SearchTerm + '%') AND
        (@IsActive IS NULL OR IsActive = @IsActive)
    ORDER BY CreatedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserId,
        UserName,
        Email,
        PhoneNumber,
        IsActive,
        CreatedAt
    FROM Users
    WHERE UserId = @UserId AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SeedRoles]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeedRoles]
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Roles WHERE RoleName = 'Admin')
        INSERT INTO Roles (RoleName, Description) VALUES ('Admin', 'Full access to the system');

    IF NOT EXISTS (SELECT 1 FROM Roles WHERE RoleName = 'Analyst')
        INSERT INTO Roles (RoleName, Description) VALUES ('Analyst', 'Can view and analyze data');

    IF NOT EXISTS (SELECT 1 FROM Roles WHERE RoleName = 'Officer')
        INSERT INTO Roles (RoleName, Description) VALUES ('Officer', 'Can manage daily operations');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 8/5/2025 3:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUser]
    @UserId INT,
    @UserName NVARCHAR(100),
    @Email NVARCHAR(255),
    @PhoneNumber NVARCHAR(20),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Conflicts TABLE (ConflictName NVARCHAR(50), ID INT IDENTITY(1,1));
    DECLARE @ResultMessage NVARCHAR(MAX);
    DECLARE @ConflictCount INT = 0;

    -- Check if user exists
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId AND IsDeleted = 0)
    BEGIN
        SELECT 'User not found.' AS Result;
        RETURN;
    END

    -- Check for conflicts
    IF EXISTS (SELECT 1 FROM Users WHERE UserName = @UserName AND UserId <> @UserId)
        INSERT INTO @Conflicts VALUES ('Username');
    
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND UserId <> @UserId)
        INSERT INTO @Conflicts VALUES ('Email');
    
    IF EXISTS (SELECT 1 FROM Users WHERE PhoneNumber = @PhoneNumber AND UserId <> @UserId)
        INSERT INTO @Conflicts VALUES ('Phone number');

    -- Get conflict count
    SELECT @ConflictCount = COUNT(*) FROM @Conflicts;

    -- Build conflict message
    IF @ConflictCount > 0
    BEGIN
        -- For SQL Server 2017+ with STRING_AGG
        IF @ConflictCount = 1
            SELECT @ResultMessage = ConflictName + ' already exists.' FROM @Conflicts;
        ELSE IF @ConflictCount = 2
            SELECT @ResultMessage = STRING_AGG(ConflictName, ' and ') + ' already exist.' FROM @Conflicts;
        ELSE
        BEGIN
            -- For 3 conflicts, build the string manually to ensure proper formatting
            DECLARE @First NVARCHAR(50), @Second NVARCHAR(50), @Third NVARCHAR(50);
            
            SELECT @First = ConflictName FROM @Conflicts WHERE ID = 1;
            SELECT @Second = ConflictName FROM @Conflicts WHERE ID = 2;
            SELECT @Third = ConflictName FROM @Conflicts WHERE ID = 3;
            
            SET @ResultMessage = @First + ', ' + @Second + ' and ' + @Third + ' already exist.';
        END
        
        SELECT @ResultMessage AS Result;
        RETURN;
    END

    -- Update if no conflicts
    UPDATE Users
    SET 
        UserName = @UserName,
        Email = @Email,
        PhoneNumber = @PhoneNumber,
        IsActive = @IsActive,
        CreatedAt = GETDATE()
    WHERE UserId = @UserId;

    SELECT 'User updated successfully.' AS Result;
END
GO
USE [master]
GO
